@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

.tooltip::before {
  border-radius: 0.5rem !important;
  font-weight: 500;
}

.tooltip::after {
  display: none !important;
  font-weight: 500;
}

.menu a:focus,
.menu a:active {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.carousel-item {
  border-radius: 10;
}